<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap core-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<!-- NavBar for Project -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">JoSI - Job Scheduling Intelligence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('all_jobs') }}">All Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_queue_records') }}">Current Queue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_historical_records') }}">Historical Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_historic_cluster_records') }}">Cluster Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('simulation') }}">simulation</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Add</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('add_job_form') }}">Add a Job</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('add_historicaldata_form') }}">add a Historical
                            Record</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('add_queue_form') }}">add a Record to the
                            Queue</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="container">

    <h3>Add a new historical record for a Job</h3>
    <br>
    <br>
    <form method="POST">

        <label for="historicaldata_id">Job id</label>
        <div class="form-row">
            <input class="form-control" type="number" placeholder="id of the Job" id="historicaldata_id" name="historicaldata_id">
        </div>
        <br>
        <div class="form-row">
            <label for="runtime">Runtime</label>
            <input class="form-control" type="number" placeholder="Runtime of the Job" id="runtime" name="runtime">
        </div>
        <br>
        <div class="form-row ">
            <label for="date">Date</label>
            <input class="form-control " type="date" placeholder="date" id="date" name="date">
        </div>
        <br>
        <div class="form-row ">
            <label for="job_status">Status</label>
            <input class="form-control " type="text" placeholder="job_status" id="job_status" name="job_status">
        </div>
        <br>
        <div class="form-row ">
            <label for="job_status">containers</label>
            <input class="form-control " type="number" placeholder="containers" id="containers" name="containers">
        </div>
        <button type="submit " class="btn btn-primary " style="float:right ">Submit</button>

    </form>

</div>


<!-- Java Script Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
